---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  iconName: string;
  imageSrc: string;
  imageAlt: string;
  reverse?: boolean;
}

const { title, description, iconName, imageSrc, imageAlt, reverse = false } = Astro.props;
---

<div class={`flex items-center gap-5 md:gap-7 lg:gap-[6rem] p-6 snap-center mx-3 md:mx-0 rounded-lg shadow-lg ${
  reverse 
  ? 'flex-col md:flex-row-reverse bg-gradient-to-l from-indigo-500/50 via-transparent to-indigo-500/50 md:via-none md:to-transparent md:translate-x-[3%]' 
  : 'flex-col md:flex-row bg-gradient-to-r from-indigo-500/50 via-transparent to-indigo-500/50 md:via-none md:to-transparent md:-translate-x-[3%]'
  }`}>
  <div class={`flex flex-col gap-2 w-[75vw] h-80 md:h-auto md:min-h-none md:max-w-[20rem] 2xl:max-w-[30rem] justify-center ${
    reverse 
      ? 'text-left md:text-left items-start md:items-start' 
      : 'text-left md:text-right items-start md:items-end'
  }`}>
    <div class={`flex flex-row md:flex-col gap-3 md:gap-2 items-center ${reverse ? 'md:items-start' : 'md:items-end'}`}>
      <Icon class="h-16 w-16 text-indigo-400" name={iconName} />
      <h2 class="text-3xl font-semibold mb-2">{title}</h2>
    </div>
    <p class="text-lg text-neutral-300">
      {description}
    </p>
  </div>
  <img src={imageSrc} alt={imageAlt} class="w-[400px] md:w-[300px] lg:w-[400px] rounded-lg shadow-lg" />
</div>